@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

  *{
    font-family: 'Poppins', sans-serif !important;
  }

  .bg{
   background-image: url('../img/bgg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
  }


@media (max-width: 576px) { 
    .bg{
        height: 100vh;
        background-position: right;
    }
 }

@media (max-width: 768px) {

 }

@media (max-width: 992px) { 

}


@media (max-width: 1200px) { 
    
 }


@media (max-width: 1400px) {

 }

.eu{
    border-radius: 50%;
    border: 8px solid rgb(184, 184, 184);

}

.ou{
    margin-top: 5rem;
}

span{
    color: rgb(158, 104, 23);
}

